:root {
  /* logo */
  --icon-GristLogo: url("ui-icons/Logo/logo_anct_2022.svg") !important;
  --grist-logo-bg: #ffffff !important;
  --grist-logo-size: 22px 22px !important;

  /* colors */
  --grist-color-light-grey: #F7F7F7 !important;
  --grist-color-medium-grey: rgba(217,217,217,0.6) !important;
  --grist-color-medium-grey-opaque: #E8E8E8 !important;
  --grist-color-dark-grey: #D9D9D9 !important;
  --grist-color-light: #FFFFFF !important;
  --grist-color-dark: #262633 !important;
  --grist-color-dark-bg: #262633 !important;
  --grist-color-slate: #929299 !important;
  --grist-color-light-green: #15B7A2 !important;
  --grist-color-dark-green: #029582 !important;
  --grist-color-darker-green: #026F61 !important;
  --grist-color-lighter-green: #b1ffe2 !important;
  --grist-color-lighter-blue: #87b2f9 !important;
  --grist-color-light-blue: #3B82F6 !important;
  --grist-color-cursor: #15B7A2 !important;
  --grist-color-selection: rgba(22,179,120,0.15) !important;
  --grist-color-selection-opaque: #DCF4EB !important;
  --grist-color-selection-darker-opaque: #d6eee5 !important;
  --grist-color-inactive-cursor: #A2E1C9 !important;
  --grist-color-hover: #bfbfbf !important;
  --grist-color-error: #D0021B !important;
  --grist-color-warning: #F9AE41 !important;
  --grist-color-warning-bg: #dd962c !important;
  --grist-color-backdrop: rgba(38,38,51,0.9) !important;
  --grist-label-text-bg: #FFFFFF !important;
  --grist-label-active-bg: #F0F0F0 !important;
  --grist-primary-fg: #15B7A2 !important;
  --grist-primary-fg-hover: #029582 !important;
  --grist-primary-bg: #ffffff !important;
  --grist-control-bg: #ffffff !important;
  --grist-control-fg: #15B7A2 !important;
  --grist-primary-fg-hover: #029582 !important;
  --grist-control-border: 1px solid #12BBA5 !important;
  --grist-toast-bg: #040404 !important;
}
